html {
    height: 100%;
    width: 100%;
  }

  body {
    position: relative;
    background: none;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('static/body/img_fondo.jpg') center/cover no-repeat;
    opacity: 0.5; /* Ajusta la transparencia aquí */
    z-index: -1;
}

  
  /* Estilo general para la card */
  
  .card-serv {
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    transition: background-color 0.3s ease; /* Transición suave para el fondo */
  }
  
  /* Texto <p> dentro de la card */
  .card-serv b {
    color: #FF2800; /* Color predeterminado */
    transition: color 0.3s ease; /* Transición suave para el color del texto */
  }

  
  /* Efectos al pasar el mouse sobre la card */
  .card-serv:hover {
    background-color: #3A3D40; /* Cambiar el fondo de la card */
    border: 2px solid #dd3333;
  }
  
  .card-serv:hover b {
    color: white; /* Cambiar el color del SVG */
  }

  .acme-regular {
    font-family: "Acme", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .btn-up {
    text-align: center;
    display: inline-block;
    background-color: #a50863;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .btn-up:hover {
    background-color: #ff6bc1;
    color: black;
  }

  .payment-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  /* Botón PayPal */
  #paypalButton {
    width: 100%;
    text-align: center;
    display: inline-block;
    gap: 10px;
    background-color: #ffc439;
    color: #003087;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 8px;
    border: 2px solid #ffc439;
    transition: all 0.3s ease;
  }
  
  #paypalButton:hover {
    background-color: #003087;
    color: white;
  }

    /* Estilo del ícono */
    .payment-buttons i {
      font-size: 20px;
    }
  
  .btn-whatsapp {
    text-align: center;
    display: inline-block;
    background-color: #25D366;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .btn-whatsapp:hover {
    background-color: #128C7E;
  }

  .social-links {
    text-align: center;
    display: inline-block; /* Coloca los elementos en línea horizontal */
    gap: 10px; /* Espaciado de 10px entre los elementos */
  }
  .social-links a {
    text-decoration: none; /* Elimina el subrayado del enlace */
  }
  .social-links img {
    width: 80px;
    height: auto;
    transition: transform 0.3s; /* Añade una animación al pasar el cursor */
  }
  .social-links img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
  }
